.post {
  width: 86%;
  margin: 30px 40px 50px 40px;
}

.post__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.post__headerAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
  color: black;
}

.post__headerAuthor > span {
  color: grey;
  font-size: 15px;
}

.post__image > img {
  width: 100%;
  border-radius: 6px;
  border: 0.6px solid rgba(128, 128, 128, 0.516);
}

.post__footer {
}

.post__footerIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.postIcon {
  padding: 7px;
  font-size: 30px;
}

.postIcon :hover {
  cursor: pointer;
}

/* Container for the input fields and button */
.form-container {
  /* width: 100%;
  max-width: 500px; */
  width: 79%;
  margin: 20px auto;
  padding: 20px;
  /* background-color: #f7f7f7; */
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Style for the text and file inputs */
.form-container input[type="text"],
.form-container input[type="file"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

/* Style for the Add button */
.form-container button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.form-container button:hover {
  background-color: #0056b3;
}


